Question 1. Write code for each step. Total [1.5 points]
Generate a list of numbers from 30 to 60 with interval 5, using range. For example,30,35,40,...60 [0.5 points]

In [26]:
numbers = list(range(30,65,5))
print(numbers)

[30, 35, 40, 45, 50, 55, 60]

Order your list in reversed order. [0.5 points]

In [27]:
print(numbers[::-1])

[60, 55, 50, 45, 40, 35, 30]

Then insert 65 to the beginning of your new list. [0.5 point] The final resulting list will look like 65, 60, …, 30.

In [28]:
reverse_numbers = numbers[::-1]
reverse_numbers.insert(0,65)
print(reverse_numbers)

[65, 60, 55, 50, 45, 40, 35, 30]

Question 2. Write code based on the following steps. Total [2 points]

Create an empty list. Append integers from 0 to 20 to this list; [0.5 points]

In [29]:
integers = []
for integer in range(0,21):
    integers.append(integer)
print(integers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

delete item 0; [0.5 points]

In [30]:
integers.remove(integers[0])
print(integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

return the length, maximal and minimal values of the newest list; [0.5 points]

In [31]:
print(len(integers))
print(max(integers))
print(min(integers))

20
20
1

sum up all the items, e.g: 0+1+2+3+…+20 [0.5 points]

In [32]:
sum = 0
for integer in range(1,21):
    sum += integer
print(sum)

210

Question 3. Create a weather dictionary. Using for loop, print out all the keys and values in the same line. [1 point]

In [33]:
weather = {"Sunny":"play","Rainy":"watch TV", "Cloudy":"walk"}
print(weather)
for key,value in weather.items():
    print("When " + key + " let us " + value)

{'Sunny': 'play', 'Rainy': 'watch TV', 'Cloudy': 'walk'}
When Sunny let us play
When Rainy let us watch TV
When Cloudy let us walk

Then add a new pair (“snowy”, “ski”) to your dictionary. [0.5 point]

In [34]:
weather["snowy"] = "ski"
print(weather)

{'Sunny': 'play', 'Rainy': 'watch TV', 'Cloudy': 'walk', 'snowy': 'ski'}