Question 1: [1 point]

Define a dictionary, composed with students name and their grade.

marks = {‘Andy’:88, ‘Amy’:66, 'James': 90, 'Jules': 55, 'Arthur': 77}

Q1: Define a function, when call the function, only need to pass student’s name, your function will
return this student’s grade. If the student name does not exit, print you cannot find this student’s name.
(0.5 point)

In [76]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
def grade_for_student(name): 
    if name == 'Andy' or name == 'Amy' or name == 'James' or name == 'Jules' or name == 'Arthur':
        return marks.get(name)
    else:
        return print("Student's name does not exist")
grade_for_student('Andy')

88

In [75]:
grade_for_student('Steve')

Student's name does not exist

Q2: Define another function that will return the average grade for all the students. (0.5 point)

In [111]:
import statistics as stats
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
def average_grade():
    return stats.mean(marks.values())
average_grade()

75.2

Question 2: [0.5 point]

Define a function. Using While Loop. As long as n is less than num, print out n and square of n.
Otherwise, print out “greater than” the num value. When you call your function, specify the num values
as 8.

In [125]:
def myfunction(n,num):
    while n < num:
        print(n, n**2)
        n = n + 1
    n+=1
    print(n ,"is greater than",num)
myfunction(3,8)

3 9
4 16
5 25
6 36
7 49
9 is greater than 8

In [112]:
#can define two parameters or just one parameter
def original_and_squared(n,num):
    if n == num:
        print(n,"is equal to", num)
    while n < num:
        return n, n**2
    if n > num:
        print(n, "is greater than", num)
original_and_squared(3,8)

(3, 9)

In [113]:
original_and_squared(8,8)

8 is equal to 8

In [114]:
original_and_squared(9,8)

9 is greater than 8

Question 3: [0.5 point]

Define a function. add all the integers from 1 to num, print out the sum. Using while loop.

In [126]:
def sum_num(num):
    sum = 0
    n = 1
    while n < num:
        sum = sum + n
        n = n + 1
    print(sum)
sum_num(-10)

0

In [127]:
total_sum(0)

0

In [128]:
total_sum(1)

1

In [129]:
total_sum(5)

15

Question 4: [0.5 point]

Define a function. add all the integers from 1 to num, print out the sum at each step/iteration. Using for
loop.

In [102]:
def sum_per_step(num):
    if num < 1:
        print(0)
    integer_sum = 0
    for integer in range(1,num+1):
        integer_sum += integer
        print(integer_sum)
sum_per_step(-10)

0

In [103]:
sum_per_step(0)

0

In [104]:
sum_per_step(1)

1

In [105]:
sum_per_step(5)

1
3
6
10
15

Question 5: [0.5 point]

Define a function. For a given list, range (1, 100), calculate its mean, sum, and standard deviation. You
can use built in function and package.

In [72]:
import statistics as stats
numbers = list(range(1,100))
def calculations():
    return stats.mean(numbers), sum(numbers), stats.pstdev(numbers)
calculations()

(50, 4950, 28.722813232690143)

Question 6: [2 point]

Q1: Define a minimal function with 4 arguments. Your function will return the minimal value
of the 4 arguments. (1 point)

In [25]:
def minimal (v1,v2,v3,v4):
    if v1 < v2 and v1 < v3 and v1 < v4:
        return v1
    elif v2 < v1 and v2 < v3 and v2 < v4:
        return v2
    elif v3 < v1 and v3 < v2 and v3 < v4:
        return v3
    elif v4 < v1 and v4 < v2 and v4 < v3:
        return v4
minimal(-10,45,21,0)

-10

Q2: Define another function by calling the minimal function you defined in Q1, print out the returned minimal value. (1 point)

In [115]:
def minimal (v1,v2,v3,v4):
    if v1 < v2 and v1 < v3 and v1 < v4:
        return v1
    elif v2 < v1 and v2 < v3 and v2 < v4:
        return v2
    elif v3 < v1 and v3 < v2 and v3 < v4:
        return v3
    elif v4 < v1 and v4 < v2 and v4 < v3:
        return v4
def print_minimal(num1,num2,num3,num4):
    x = minimal(num1,num2,num3,num4)
    return x
print_minimal(-10,45,21,0)

-10